.main {
  display: flex;
}

.main-content {
  flex: 1;
  padding: 24px;
}

.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.table {
  width: 100%;
  margin-top: 24px;
  border-collapse: collapse;
}

.table th {
  height: 44px;
  padding: 0 16px;
  background-color: aliceblue;
}

.table td {
  height: 40px;
  padding: 0 16px;
}
